PORT=3000
MONGODB_URI=mongodb://localhost:27017/sih2026
META_WA_PHONE_NUMBER_ID=your_meta_phone_number_id_here
META_WA_ACCESS_TOKEN=your_meta_access_token_here
META_WA_VERIFY_TOKEN=sih_2026_webhook_secret
SARVAM_API_KEY=your_sarvam_api_key_here
OPENWEATHER_API_KEY=your_openweather_api_key_here
DISTRESS_THRESHOLD=70
ALERT_CRON_SCHEDULE=0 */6 * * *
NODE_ENV=development
sk_nns0rn0c_rHpN0ZO1rzMsAkBoJ9z2alz4